extends ../layout

block scripts
  script(src='/js/Chat/dialog.js')

block content
  h1= title

  #dialog-page

    .members
      p.companion= companion.login

    .messages
      each msg in dialog.messages || []
        .msg
          .text= msg.text
          .from= msg.from
          .time= msg.createAt
      else 
        p no messages
    form
      input(type='hidden' name='chatId', value=`${dialog._id}`)
      input(type='hidden' name='companionId', value=`${companion._id}`)
      input(type='text', name='msgText')
      span.send-msg Send msg
